#Snippets for Titanium Appcelerator

snippet view
	Ti.UI.createView({
		${1:/*options*/}
	});

snippet webview
	Ti.UI.createWebView({
		url: ${1:/*address*/},
		${2:/*options*/}
	});

snippet win
	Ti.UI.createWindow({
		${1:/*options*/}
	});
